

.job-board-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

}

.job-board-section {
    display: inline-block;
    flex: 0 0 auto;
    width: 400px;
    height: 500px;
    border: 1px solid black;
    overflow: scroll;
}

[class*="-task-area"] {
    height: 100%;
    overflow: scroll;
}
