.job-board-container {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    border: 1px solid black;
}

.job-board-section {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    overflow: scroll;
}
