@font-face {
    font-family: Spartan;
    src: url(https://res.cloudinary.com/dmtj0amo0/raw/upload/v1637957146/Spartan-Regular_xdwldv.ttf)
}

.edit-job-button-content {
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(209, 161, 2);
    border-radius: 20px;
    font-family: Spartan;
    color: white;
    cursor: pointer;
}

.edit-job-button-content:hover {
    background-color: white;
    color: rgb(209, 161, 2);
}
