.task-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
    width: 100%;
}

.task-block-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    border: 1px solid black;
    background-color: teal;
    border-radius: 30px;
}

.task-block-body {

}

.task-block-title {
    text-align: center;
    font-size: 1.3vh;
}

.task-detail-title {
    display: flex;
}

.task-detail-details {
    overflow-wrap: break-word;
    display: flex;
}
