/* TODO Add site wide styles */

@font-face {
    font-family: Bebasneue;
    src: url(https://res.cloudinary.com/dmtj0amo0/raw/upload/v1637873845/BebasNeue-Regular_orwsih.ttf)
}

.site-nav-bar {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    border: 1px solid black;
    background-color: #85261c;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.site-nav-bar-logo-area {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-page-content {
    margin-top: 70px;
    margin-bottom: -10px;
}

.site-nav-bar-auth {

}
