@font-face {
    font-family: Bebasneue;
    src: url(https://res.cloudinary.com/dmtj0amo0/raw/upload/v1637873845/BebasNeue-Regular_orwsih.ttf)
}

@font-face {
    font-family: Spartan;
    src: url(https://res.cloudinary.com/dmtj0amo0/raw/upload/v1637957146/Spartan-Regular_xdwldv.ttf)
}

.environment-card-border {
    height: 300px;
    width: 30%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    background-color: #A56C37;
    border-radius: 20px;
}

.environment-card {
    height: 90%;
    width: 100%;
}

.environment-card img {
    border-radius: 20px 20px 0px 0px;
}

a {
    color: white;
    text-decoration: none;
    font-family: Spartan;
    font-size: 30px;
}

.env-card-bottom {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.show-env-ED {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.EDE-top {
    display: flex;
    color: white;
    font-family: Spartan;
    margin-bottom: 30px;
    justify-content: space-between;
}

.close-env-ED {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.edit-env-title-section {
    align-self: flex-end;
}

.edit-env-title {
    margin-bottom: 20px;
    font-size: 30px;
}

.edit-env-title-form {
    height: 30px;
}

.edit-env-title-form > input {
    height: 24px;
    width: 97%;
    background-color: #3B2516;
    border-color: black;
    color: white;
    font-family: Spartan;
    font-size: 15px;
}

.close-env-ED:hover {
    color: #85261C;
}

.edit-env-title-form {
    display: flex;
}

.EETF-submit {
    height: 100%;
    width: 70px;
    background-color: #3B2516;
    border-color: black;
    color: white;
    font-family: Spartan;
    font-size: 15px;
    align-self: flex-end;
    cursor: pointer;
    margin-left: 5px;
}

.EETF-submit:hover {
    color: rgb(1, 100, 1);
}

.delete-env-section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
