@font-face {
    font-family: Spartan;
    src: url(https://res.cloudinary.com/dmtj0amo0/raw/upload/v1637957146/Spartan-Regular_xdwldv.ttf)
}

.create-new-environment-section {
    height: 300px;
    width: 30%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    background-color: #A56C37;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.create-new-environment-section:hover {
    background-color: #b37e4e;
}

.create-new-environment-button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.create-new-environment-title {
    width: 100%;
    color: white;
    font-size: 35px;
    font-family: Spartan;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.create-new-environment-form-container {
    height: 400px;
    width: 400px;
    padding: 20px;
    background-color: #633B1D;
    border-radius: 20px;
    border: 10px solid black;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Spartan;
    gap: 20px;
}

.create-new-environment-form-header {
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
}

.new-env-error {
    color: red;
}

.create-new-environment-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.create-new-environment-form > input {
    background-color: #3B2516;
    border-color: black;
    color: white;
    font-family: Spartan;
    font-size: 20px;
}

.create-new-environment-form > button {
    height: 50px;
    background-color: #1A3D54;
    border: none;
    color: white;
    font-family: Bebasneue;
    font-size: 30px;
    cursor: pointer;
}

.create-new-environment-form > button:hover {
    color: rgb(2, 109, 2);
}
