@font-face {
    font-family: Bebasneue;
    src: url(https://res.cloudinary.com/dmtj0amo0/raw/upload/v1637873845/BebasNeue-Regular_orwsih.ttf)
}

@font-face {
    font-family: Spartan;
    src: url(https://res.cloudinary.com/dmtj0amo0/raw/upload/v1637957146/Spartan-Regular_xdwldv.ttf)
}

.job-board-section {
    border-radius: 20px;
    background-color: white;
    margin: 20px 10px;
    position: relative;
}

.job-board-section-top {
    height: 80px;
    width: 90%;
    display: flex;
    background-color: #1A3D54;
    background-clip: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    color: white;
    position: absolute;
    top: 0;
    z-index: 5;
}

.job-board-section-top > p {
    font-family: Spartan;
    font-size: 25px;
}

.JBS-controls {
    display: flex;
}

.show-section-ED {
    height: 40px;
    width: 40px;
    margin-left: 5px;
    cursor: pointer;
}

.show-section-ED:hover {
    color: #D1A200;
}

[class*="-task-area"] {
    padding-top: 90px;
    background-color: #bb936e;
}

.triangle-pointer {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid black;
    position: absolute;
    top: -20px;
    left: 50px;
    z-index: 12;
}

.EDS-content {
    height: 200px;
    width: 200px;
    background-color: #633B1D;
    border: 10px solid black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.close-section-ED {
    background: none;
    border: none;
    color: white;
    align-self: flex-end;
    cursor: pointer;
}

.close-section-ED:hover {
    color: rgb(133, 25, 25);
}

.edit-section-title-area {
    font-family: Spartan;
    height: 80px;
}

.edit-section-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.edit-section-title-form {
    width: 100%;
}

.edit-section-title-form > input {
    height: 30px;
    width: 90%;
    background-color: #3B2516;
    border-color: black;
    color: white;
    font-family: Spartan;
    font-size: 20px;
}

.delete-button-content {
    align-self: flex-end;
}
